body {
    background-image: url(../image/fondoNaranja.jpg);
}

main {
    display: flex;
    flex-direction: row;

}

.consultas{
    display: flex;
    flex-direction: row;
    align-items: center;
}



